<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
    {% if products %}
        <h1>List of all products:</h1>
        <ul>
            {% for product in products %}
                <li>
                    Title: {{ product.title }} | Price: {{ product.price }} <br>
                    Owner: {{ product.owner_id }} | Publisher: {{ product.publisher_id }}
                    <!-- <a href="/products/{{ product.id }}/edit/">Edit</a> -->
                    <a href="/products/{{ product.id }}/delete/">Delete!</a>
                    <a href="/products/{{ product.id }}/buy/2">Buy this product!</a>
                </li>
                <p>{{ product.content }}</p>
                <br/>
            {% endfor %}
        </ul>
    {% else %}
        <h1>There are no products!</h1>
    {% endif %}
    <a href="/">Return to HomePage</a>
</body>
</html>