{% extends 'layout.html' %}

{% block content %}
    {% if username != "GuestUser" %}
        {% if products %}
            <div class="md-form mt-1 mb-2">
                <!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"> -->
                <a href="/search">Search</a>
            </div>

            {% for product in products %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="https://via.placeholder.com/150" alt="">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="/profile/{{ product.get_username_by_publisher_id(product.title) }}">
                                {{ product.get_username_by_publisher_id(product.title) }}
                            </a>
                            <small class="text-muted">{{ product.get_product_published_date() }}</small>
                        </div>
                        <h2>
                            <a class="article-title" href="{{ url_for('view_product', id=product.id) }}">
                                {{ product.title }}
                            </a> | Price: {{ product.price }}
                        </h2>
                        <p class="article-content">{{ product.content }}</p>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}


{% block bought %}
    {% if username == "GuestUser" %}
        <h4>Hello {{ username }}!</h4>
        <h5>Regitser now <a href="/register">here</a> to continue.</h5>
    {% else %}
        <h4>Hello {{ username }}!</h4>
        <h5>People that bought your products:</h5>

        {% if bought_products %}
            {% for product in bought_products %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        {{ product[0] }} - <a href="/profile/{{ product[1] }}">{{ product[1] }}</a>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

    {% endif %}
{% endblock bought %}


{% block my_products %}
    {% if username != "GuestUser" %}
        <h5>Your products:</h5>

        {% if all_products %}
            {% for product in all_products %}
                {% if product[1] == product[2] %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light text-success">
                            {{ product[0] }} | Price: {{ product[4] }}
                        </li>
                    </ul>
                {% else %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light text-danger">
                            {{ product[0] }} | Bought by <a href="/profile/{{ product[3] }}">{{ product[3] }}</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endif %}
{% endblock my_products %}
