<script>
    function login() {
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
  
      var request = new XMLHttpRequest();
      request.open("POST", '/login', true);
      request.onload = function() {
        var token = JSON.parse(request.responseText).token;
        if (token != null) {
          alert('ye` can do');
          document.cookie = 'token=' + token + ';';
          document.location = '/';
        } else {
          alert('No can do');
        }
      }
      request.send(JSON.stringify({
        email: email,
        password: password
      }));
    }
  </script>

<form>
    <label>Email</label>
    <input id="email" type="email"/>
    </br>
    <label>Password</label>
    <input id="password" type="password"/>
    </br>
    </br>
    <button type="button" onclick="login()">Submit</button>
  </form>