<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>

    <link rel="stylesheet" href="../static/css/form.css">
    <script src="../static/js/login.js"></script>
</head>
<body>
    <form class="form-style-7">
        <h1>Log In</h1>
        <ul>
            <li>
                <label for="email">Email</label>
                <input type="email" id="email" maxlength="100" required>
                <span>Enter your email here</span>
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" id="password" required>
                <span>Enter your password here</span>
            </li>
            <li>
                <input type="submit" value="Submit" onclick="login()">
            </li>
        </ul>
    </form>
</body>
</html>